.row {
	width: 100%;
}

body {
	/*font-family: "Source Code Pro", "Helvetica Neue", helvetica, arial, sans-serif;*/
	font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";
	background-color: #f9f9f9;
}

.spacer {
	height: 50px;
}

.d3-tip {
	max-width: 350px;
	background-color: white;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
}

.tip-text {
	font-size: 9pt;
}

#slider-div {
	margin-top: 20px;
}

#play-button-div {
	/*width: 55px;*/
	text-align: center;
	/*margin-right: 10px;*/
}

#play-button {
	width: 90%;
	max-width: 55px;
	text-align: center;
	margin-top: 5px;
	/*margin-right: 20px;*/
}

.date-display {
	/*margin-top: 8px;*/
	min-width: 120px;
}

.date-display-container {
	margin-top: 15px;
}

.chosen-container {
    max-height:100px;
	font-size: 8pt;
	/*position: fixed;*/
}

.ui-slider {
	visibility: hidden;
	padding: 0px;
	border-width: 0px;
}

.ui-slider-handle {
	visibility: visible;
}