<!DOCTYPE HTML>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">

    <!-- Primary Meta Tags -->
    <title>Philly Police Complaints</title>
    <meta name="title" content="Philly Police Complaints">
    <meta name="description" content="An investigation and analysis of the Philadelphia Police Department complaint process and outcomes using publicly-available data.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://philly-police-complaints.herokuapp.com/">
    <meta property="og:title" content="Philly Police Complaints">
    <meta property="og:description" content="An investigation and analysis of the Philadelphia Police Department complaint process and outcomes using publicly-available data.">
    <meta property="og:image" content="http://philly-police-complaints.herokuapp.com/static/images/favicon.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://philly-police-complaints.herokuapp.com/">
    <meta property="twitter:title" content="Philly Police Complaints">
    <meta property="twitter:description" content="An investigation and analysis of the Philadelphia Police Department complaint process and outcomes using publicly-available data.">
    <meta property="twitter:image" content="http://philly-police-complaints.herokuapp.com/static/images/favicon.png">

    <link rel="icon" href='/static/images/favicon.png'>

    <!-- <link rel="icon" href='/static/images/favicon.png'> -->

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- jQuery UI CSS -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/static/css/d3-tip.css">
    <link rel="stylesheet" href="/static/css/source-code-pro.css">
    <link rel="stylesheet" href="/static/bower_components/chosen/chosen.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/1e59e4c612.js" crossorigin="anonymous"></script>

</head>

<body>


    <div id="sections">

        <section class="step">
            <div class="title"></div>
            <div class="body" style="height: 350px;"></div>
        </section>
        <section class="step">
            <div class="title">Investigative Outcomes</div>
            <div class="body">
                Complaint investigation data from the Philadelphia Police Department classifies
                investigations into three different groups: <span style="padding: 1px; background-color: rgba(101,141,198,0.6)">Sustained Finding</span>,
                <span style="padding: 1px; background-color: rgba(242,142,44,0.6)">No Sustained Finding</span>, and
                <span style="padding: 1px; background-color: rgba(141,198,101,0.6)">Investigation Pending</span>.
            </div>
        </section>
        <section class="step">
            <div class="title">Disciplinary Outcomes</div>
            <div class="body">
                Among cases where the department's investigation yields a
                <span style="padding: 1px; background-color: rgba(101,141,198,0.6)">Sustained Finding</span>,
                [something happens, talk very briefly about review process and] the department classifies the disciplinary outcomes into four groups:
                <br><br>
                <ul>
                    <li class="annotation-li"><span style="padding: 1px; background-color: rgba(115,152,203,0.6)">Guilty Finding</span></li>
                    <li class="annotation-li"><span style="padding: 1px; background-color: rgba(147,175,215,0.6)">Training/Counseling</span></li>
                    <li class="annotation-li"><span style="padding: 1px; background-color: rgba(178,198,226,0.6)">No Guilty Findings</span></li>
                    <li class="annotation-li"><span style="padding: 1px; background-color: rgba(162,162,162,0.6)">Discipline Pending</span></li>
                </ul>
            </div>
        </section>
        <section class="step">
            <div class="title">Guilty Findings</div>
            <div class="body">
                <span style="padding: 1px; background-color: rgba(115,152,203,0.6)">Guilty Findings</span>,
                which can result in an officer being fired, charged with a crime [add more exact details here], account for just
                2% of investigation outcomes.
                <br><br>
                However, that rate changes significantly depending on who is making the complaint, (even accounting for the type of complaint made)...
            </div>
        </section>
        <section class="step">
            <div class="title">White Complainants</div>
            <div class="body">
                Complaints filed by <span class="category-text white">White</span> complainants result in a guilty finding in 3.2% of investigations.
            </div>
        </section>
        <section class="step">
            <div class="title">Black Complainants</div>
            <div class="body">
                Meanwhile, for <span class="category-text black">Black</span> complainants, just 1.2% of investigations
                result in a guilty finding (40% the rate of their <span class="category-text white">White</span> counterparts).
            </div>
        </section>
        <section class="step">
            <div class="title">Black Complainant/White Officer</div>
            <div class="body">
                This number shrinks even further for complaints filed specifically against <span class="category-text white">White</span> officers.
                <br><br>
                Just 0.6% of investigations against <span class="category-text white">White</span> officers filed by
                <span class="category-text black">Black</span> complainants result in a guilty finding.
            </div>
        </section>
        <section class="step">
            <div class="title">White Complainant/Black Officer</div>
            <div class="body">
                Conversely, investigations against <span class="category-text black">Black</span> officers
                filed by <span class="category-text white">White</span> complainants are <strong>6.5 times
                more likely</strong> to result in a guilty finding than those filed against <span class="category-text white">White</span>
                officers by <span class="category-text black">Black</span> complainants.
            </div>
        </section>
        <section class="step">
            <div class="title">Sample Tile 3</div>
            <div class="body">Sample text 3</div>
        </section>
        <section class="step">
            <div class="title">Sample Tile 4</div>
            <div class="body">Sample text 4</div>
        </section>
        <section class="step">
            <div class="title">Sample Tile 5</div>
            <div class="body">Sample text 5</div>
        </section>
        <section class="step">
            <div class="title">Sample Tile 5</div>
            <div class="body">Sample text 5</div>
        </section>

    </div>

    <!-- Bootstrap grid setup -->
    <div class="tile-wrapper" id="intro-wrapper">
    <div class="container viz-tile" id="intro-tile">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" id="intro-area" style="text-align:center;">
                <h2><strong>Since 2013, <span class="detail-title" id="total-complaints">0</span> complaints have been filed<br> against Philadelphia police officers,
                    resulting in <span class="detail-title" id="total-investigations">0</span> disciplinary investigations</strong></h2>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    </div>

{#    <div class="tile-wrapper" id="map-wrapper">#}
{#    <div class="container viz-tile" id="map-tile">#}
{#        <div class="row">#}
{#            <div class="col-md-2 col-sm-2"></div>#}
{#            <div class="col-md-8 col-sm-8 viz-area" id="map-area"></div>#}
{#            <div class="col-md-2 col-sm-2"></div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}

    <div class="tile-wrapper" id="sunburst-wrapper">
    <div class="container viz-tile" id="sunburst-tile">
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8 viz-area" id="sunburst-area">
                What happens when
                <select class="sunburst-select" id="sunburst-po-race" value="po_race">
                    <option value="all">all</option>
                    <option value="white">white</option>
                    <option value="black">black</option>
                    <option value="latino">latino</option>
                    <option value="other">other</option>
                </select>
{#                <span id="sunburst-po-race" value="po_race">[white]</span>#}
                officers receive complaints from
                <select class="sunburst-select" id="sunburst-complainant-race" value="complainant_race">
                    <option value="all">all</option>
                    <option value="white">white</option>
                    <option value="black">black</option>
                    <option value="latino">latino</option>
                    <option value="other">other</option>
                </select>
{#                <span id="sunburst-complainant-race" value="complainant_race">[black]</span>#}
                complainants, about incidents in
                <span id="sunburst-district-income" value="district_income">[all]</span>
                districts.
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
    </div>

    <div class="tile-wrapper" id="flowchart-wrapper">
    <div class="container viz-tile" id="flowchart-tile">
        <div class="row viz-area">
            <div style="text-align: right;" class="date-display-container col-md-3 col-sm-3">
                <span style="text-align:right;" class="date-display" id="start-date-display"></span> - <span style="text-align:left;" class="date-display" id="end-date-display"></span>
            </div>
            <div class="col-md-6 col-sm-6">
                <div id="timeline-div" class="row">
                    <div class="col-md-2 col-sm-3" id="play-button-div"><button id="play-button" class="btn btn-primary">▶</button></div>
                    <div class="col-md-10 col-sm-9" id="slider-div"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3" class="chosen-container-div">
                <select data-placeholder="Select Complaint Types" class="chosen-select" multiple style="width:350px;" tabindex="4" id="incident-type-select">
                </select>
            </div>
        </div>
        <div class="row viz-area">
            <div class="col-md-12 col-sm-12" id="chart-area"></div>
        </div>
    </div>
    </div>


    <!-- External JS Libraries -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/d3-tip.js"></script>
    <script src="/static/js/d3-geo.min.js"></script>
    <script src="/static/js/d3-geo-projection.v2.min.js"></script>
    <script src="/static/js/topojson.min.js"></script>
    <script src="/static/js/scroller.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/timeline.js"></script>
    <script src="/static/js/sunburst.js"></script>
    <script src="/static/js/flowchart.js"></script>
    <script src="/static/js/map.js"></script>

    <script src="/static/js/main.js"></script>

</body>
</html>





