<!DOCTYPE HTML>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">

    <!-- Primary Meta Tags -->
    <title>Philly Police Complaints</title>
    <meta name="title" content="Philly Police Complaints">
    <meta name="description" content="An investigation and analysis of the Philadelphia Police Department complaint process and outcomes using publicly-available data.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://philly-police-complaints.herokuapp.com/">
    <meta property="og:title" content="Philly Police Complaints">
    <meta property="og:description" content="An investigation and analysis of the Philadelphia Police Department complaint process and outcomes using publicly-available data.">
    <meta property="og:image" content="http://philly-police-complaints.herokuapp.com/static/images/favicon.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://philly-police-complaints.herokuapp.com/">
    <meta property="twitter:title" content="Philly Police Complaints">
    <meta property="twitter:description" content="An investigation and analysis of the Philadelphia Police Department complaint process and outcomes using publicly-available data.">
    <meta property="twitter:image" content="http://philly-police-complaints.herokuapp.com/static/images/favicon.png">

    <link rel="icon" href='/static/images/favicon.png'>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- jQuery UI CSS -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/static/css/d3-tip.css">
    <link rel="stylesheet" href="/static/css/source-code-pro.css">
    <link rel="stylesheet" href="/static/bower_components/chosen/chosen.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/1e59e4c612.js" crossorigin="anonymous"></script>

</head>

<body>

    <div id="annotation-tooltip" style="opacity: 0.0; position:absolute;">Default Text</div>
    <div id="category-tooltip" style="opacity: 0.0; position:absolute;">Default Text</div>


    <div id="sections">

        <div class="mobile-spacer"></div>
        <section class="step phantom">
            <div class="title"></div>
            <div class="body" style="height: 350px;"></div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Investigative Outcomes</div>
            <div class="body">
                Complaint investigation data from the Philadelphia Police Department classifies
                investigations into three different groups: <span class="annotated-text" style="padding: 1px; background-color: rgba(101,141,198,0.6)">Sustained Finding</span>,
                <span class="annotated-text" style="padding: 1px; background-color: rgba(242,142,44,0.6)">No Sustained Findings</span>, and
                <span class="annotated-text" style="padding: 1px; background-color: rgba(141,198,101,0.6)">Investigation Pending</span>.
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Disciplinary Outcomes</div>
            <div class="body">
                Among cases where the department's investigation yields a
                <span class="annotated-text" style="padding: 1px; background-color: rgba(101,141,198,0.6)">Sustained Finding</span>, the
                complainant(s) must appear as a witness at a Police Board of Inquiry hearing. which makes a
                guilty/not guilty recommendation. The report is then sent to a Commanding Officer, responsible for deciding on disciplinary action.
                The department data classifies these disciplinary outcomes into four groups:
                <span class="annotated-text" style="padding: 1px; background-color: rgba(115,152,203,0.6)">Guilty Finding</span>,
                <span class="annotated-text" style="padding: 1px; background-color: rgba(147,175,215,0.6)">Training/Counseling</span>,
                <span class="annotated-text" style="padding: 1px; background-color: rgba(178,198,226,0.6)">No Guilty Findings</span>, and
                <span class="annotated-text" style="padding: 1px; background-color: rgba(162,162,162,0.6)">Discipline Pending</span>
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Guilty Findings</div>
            <div class="body">
                <span class="annotated-text" style="padding: 1px; background-color: rgba(115,152,203,0.6)">Guilty Findings</span>
                include all sustained investigations resulting in an officer being reprimanded, terminated, suspended or facing criminal charges.
                The data provided by PPD makes no distinction between these outcomes, so there is no way to determine how many cases result in termination
                or criminal charges, except that it is less than or equal to the number of Guilty Findings. These cases account for just
                2% of investigation outcomes.
                <br><br>
                That rate also changes significantly depending on who is making the complaint, even accounting for the type of complaint made.
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">White Complainants</div>
            <div class="body">
                Complaints filed by <span class="annotated-text category-text white">White</span> complainants result in a guilty finding in 3.2% of investigations.
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Black Complainants</div>
            <div class="body">
                Meanwhile, for <span class="annotated-text category-text black">Black</span> complainants, just 1.2% of investigations
                result in a guilty finding (40% the rate of their <span class="annotated-text category-text white">White</span> counterparts).
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Black Complainant/White Officer</div>
            <div class="body">
                This number shrinks even further for complaints filed specifically against <span class="category-text white">White</span> officers.
                <br><br>
                Just 0.6% of investigations against <span class="annotated-text category-text white">White</span> officers filed by
                <span class="annotated-text category-text black">Black</span> complainants result in a guilty finding.
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">White Complainant/Black Officer</div>
            <div class="body">
                Conversely, investigations against <span class="annotated-text category-text black">Black</span> officers
                filed by <span class="annotated-text category-text white">White</span> complainants are <strong style="text-decoration: underline">six-and-a-half times
                more likely</strong> to result in a guilty finding than those filed against <span class="category-text white">White</span>
                officers by <span class="annotated-text category-text black">Black</span> complainants.
                <br><br>
                These investigations are also 45% more likely to result in a sustained finding.
            </div>
        </section>
        <div class="mobile-spacer"></div>

        <div class="spacer"></div>

        <section class="step">
            <div class="title">The Full Picture</div>
            <div class="body">
                This visual represents each disciplinary investigation as a single tile.
                <br><br>
                They can be filtered by date, using the timeline at the top or by type of investigation, using the options on the top-right.
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Stories Behind The Complaints</div>
            <div class="body">
                Hovering over any tile will display full information about that complaint, including a summary
                depicting the events leading up to the complaint.
                <br><br>
                It's important to recognize that these stories are based only
                on typed notes by a member of the department and that as of 2019, <a href="https://billypenn.com/2019/07/26/after-promising-increased-transparency-philadelphia-is-redacting-police-complaint-records/">
                Philadelphia began redacting full details of complaints</a>
                and replacing them with boilerplate 1-2 sentence summaries. Full summaries for complaints before July 2018
                are provided, courtesy of Philly Declaration's <a href="https://github.com/PhillyDeclaration/Philadelphia-Police-Accountability-Project">Police Accountability Project</a>,
                which published datasets before the city began redacting summaries.
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Organizing The Data</div>
            <div class="body">
                You can sort these tiles by a number of features and observe some of the same pattern explored above.
                <br><br>
                Here, the chart has been sorted by complainant race. Recall that a complainant being black was the second strongest indicator of whether an investigation would result in a guilty finding
                (trailing only whether the officer was white).
                <br><br>
                Hover over the section headers for summary information. Use the dropdown on the legend box (top-left) to change the feature the tiles are sorted on.
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Overdue Investigations</div>
            <div class="body">
                According to <a href="https://www.phila.gov/phils/Docs/Inventor/graphics/execorders/93-09.htm">Philadelphia Law</a>,
                investigations must be completed by Internal Affairs within seventy-five days of the complaint filing date.
                <br><br>
                The tiles have been filtered to include only investigations with complaint dates over two years old. Despite that,
                there are over three dozen investigations that are still pending (or were still pending as of the city's
                <span style="background-color: rgba(245, 229, 27, 0.5)" class="annotated-text">last public update</span>).
            </div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Complaint Classifications</div>
            <div class="body">Here the complaints have been filtered to include only those classified as "Physical Abuse", "Verbal Abuse",
            "Criminal Allegation", "Sexual Crime/Misconduct", and "Civil Rights Complaint". There is a small, but statistically significant
                difference in both the rate of <span class="annotated-text" style="padding: 1px; background-color: rgba(101,141,198,0.6)">Sustained Finding</span> and
                <span class="annotated-text" style="padding: 1px; background-color: rgba(115,152,203,0.6)">Guilty Finding</span>
                between these complaints and others.</div>
        </section>
        <div class="mobile-spacer"></div>
        <section class="step">
            <div class="title">Sample Tile 5</div>
            <div class="body">Sample text 5</div>
        </section>

        <div class="mobile-spacer"></div>

    </div>

    <!-- Bootstrap grid setup -->
    <div class="tile-wrapper" id="intro-wrapper">
    <div class="container viz-tile" id="intro-tile">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" id="intro-area" style="text-align:left;">
                <h2><strong>Since 2013, <span class="detail-title" id="total-complaints">0</span> complaints have been filed<br> against Philadelphia police officers,
                    resulting in <span class="detail-title" id="total-investigations">0</span> disciplinary investigations</strong></h2>
                <br><br>
                <p>These complaints are handled by the department's Internal Affairs division, which conducts an
                    investigation before determining whether or not an allegation is sustained. Sustained allegations are then
                    given to the Police Board of Inquiry (PBI), which makes a disciplinary recommendation after an informal hearing.</p>
                <p>The city began publishing data about these complaints online in 2018, including redacted and anonymized data for all complaints since 2013.
                Over the course of more than seven years represented in the published data, just 16% of investigations
                    have resulted in a sustained finding and just 2% have resulted in a guilty finding by the PBI.</p>
                <p>Though limited, the data provided by the department does contain some contextual information about complaints.
                An analysis performed on this data, using a Random Forest classifier, found that the single most important
                feature in determining if an investigation would result in a Guilty Finding was whether or not the accused officer
                was White. The next most important feature was whether or not the complainant was Black.</p>

                <br><br>

                <p>Scroll through the visualizations below to explore the results of these complaint investigations and to read their stories.
                    Throughout, hover over any <span class="annotated-text" style="background-color:rgba(245, 229, 27, 0.5)">highlighted term</span> for an explanation.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
        <div class="downArrow bounce">
            <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
        </div>
    </div>

{#    <div class="tile-wrapper" id="map-wrapper">#}
{#    <div class="container viz-tile" id="map-tile">#}
{#        <div class="row">#}
{#            <div class="col-md-2 col-sm-2"></div>#}
{#            <div class="col-md-8 col-sm-8 viz-area" id="map-area"></div>#}
{#            <div class="col-md-2 col-sm-2"></div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}

    <div class="tile-wrapper" id="sunburst-wrapper">
    <div class="container viz-tile" id="sunburst-tile">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-sm-12 viz-area">
                <div class="row" id="sunburst-select-text">
                    What happens when
                    <select class="sunburst-select" id="sunburst-po-race" value="po_race">
                        <option value="all">all</option>
                        <option value="white">White</option>
                        <option value="black">Black</option>
                        <option value="latino">Latinx</option>
                        <option value="other">other</option>
                    </select>
                    officers receive complaints from
                    <select class="sunburst-select" id="sunburst-complainant-race" value="complainant_race">
                        <option value="all">all</option>
                        <option value="white">White</option>
                        <option value="black">Black</option>
                        <option value="latino">Latinx</option>
                        <option value="other">other</option>
                    </select>
                    complainants, about incidents in
                    <select class="sunburst-select" id="sunburst-district-income-group" value="district_income_group">
                        <option value="all">all</option>
                        <option value="lower">lower</option>
                        <option value="middle">middle</option>
                        <option value="higher">higher</option>
                    </select>
                    income districts.
                </div>
                <div class="row" id="sunburst-area"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    </div>

    <div class="tile-wrapper" id="flowchart-wrapper">
    <div class="container viz-tile" id="flowchart-tile">
        <div class="row viz-area">
            <div class="col-md-2 col-sm-2">
                <div class="row" style="text-align: center; font-size: 11pt;">Group By</div>
                <div class="row">
                    <select data-placeholder="Select Complaint Types" class="select" tabindex="1" id="sort-feature-select">
                        <option value="no_group">None</option>
                        <option value="complainant_race">Complainant Race</option>
                        <option value="po_race">Officer Race</option>
                        <option value="district_income_group">Median District Income</option>
                        <option value="complainant_sex">Complainant Gender</option>
                        <option value="po_sex">Officer Gender</option>
                        <option value="prior_complaints_group">Known Prior Complaints</option>
                    </select>
                </div>
                <div class="row">
                    <div id="flowchart-legend-area"></div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="row">
                    <div class="col-md-2 col-sm-3"></div>
                    <div style="text-align: center;" class="date-display-container col-md-10 col-sm-9">
                        <span style="text-align:right;" class="date-display" id="start-date-display"></span> - <span style="text-align:left;" class="date-display" id="end-date-display"></span>
                    </div>
                </div>
                <div id="timeline-div" class="row">
                    <div class="col-md-2 col-sm-3" id="play-button-div"><button id="play-button" class="btn btn-primary">▶</button></div>
                    <div class="col-md-10 col-sm-9" id="slider-div"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 chosen-container-div" style="text-align:center;">
                <div class="row" style="text-align: center; font-size: 11pt; width: 100%; margin-left: 0;">Complaint Classification</div>
                <select data-placeholder="Select Complaint Types" class="chosen-select" multiple style="width:250px; margin-top: 5px;" tabindex="4" id="incident-type-select"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-sm-12" id="chart-area" style="width:100%; margin-top: -55px;"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
    </div>


    <div class="container footer" style="text-align:justify; max-width: 950px; font-size: 10pt;">
{#        <div class="row">#}
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr>
                <br>
                <p>Visualization by Sam Learner | <a href="mailto:learnersd@gmail.com"><img class="icon-img" src="/static/images/email.svg"></a> | <a href="https://twitter.com/sam_learner"><img class="icon-img" src="/static/images/twitter.svg"></a> | <a href="https://github.com/sdl60660"><img class="icon-img" src="/static/images/github.png"></a></p>
                <p>Code and data for this project lives <a href="https://github.com/sdl60660/philly_police_complaints">here</a>.</p>
                <p><strong>Further Reading</strong></p>
                <ul style="margin-left:-20px;">
                    <li><a href="http://web.archive.org/web/20180309201537/http://www.philadelphiaweekly.com/news/complaints-show-philly-police-escape-discipline-for-violent-misconduct/article_c283b3da-1bc6-11e8-bfbd-47e1758196fe.html">Complaints show Philly police escape discipline for violent misconduct (Philadelphia Weekly, 2018)</a></li>
                    <li><a href="http://web.archive.org/web/20181125134121/http://www.philadelphiaweekly.com/news/infernal-affairs-philadelphia-police-identify-officers-named-in-hundreds-of/article_01dfa250-9bb5-11e8-88d5-3b5f52c93365.html">Infernal Affairs: Philadelphia Police identify officers named in hundreds of civilian complaints (Philadelphia Weekly, 2018)</a></li>
                    <li><a href="https://www.phillypolice.com/forms/official-complaint-process">Philadelphia Police Complaint Process Explainer</a></li>
                    <li><a href="https://www.phila.gov/phils/Docs/Inventor/graphics/execorders/93-09.htm">Executive Order No. 9-93, Establishing Procedures for Civilian Complaints Against Police</a></li>
                    <li><a href="https://www.phillypolice.com/assets/directives/cops-w0753-pub.pdf">2015 Department of Justice Review of Use of Force Within the Philadelphia Police Department</a></li>
                    <li><a href="https://billypenn.com/2019/07/26/after-promising-increased-transparency-philadelphia-is-redacting-police-complaint-records/">After Promising Increased Transparency, Philadelphia is Redacting Police Complaint Records (Billy Penn, 2019)</a></li>
                    <li><a href="https://www.plainviewproject.org/data">Plainview Project</a></li>
                    <li><a href="https://whyy.org/articles/philly-police-release-hundreds-of-disciplinary-records-for-facebook-cops/">Philly Police Release Hundreds of Disciplinary Records for "Facebook Cops" (WHYY, 2019)</a></li>
                    <li><a href="https://www.phillypowerresearch.org/news/2018/8/10/police-accountability-an-action-guide-for-responding-to-infernal-affairs">Police Accountability: An Action Guide for Responding to "Infernal Affairs" (Philly Power Research, 2018)</a></li>
                </ul>
                <p>
                    All complaint and disciplinary data since 2015 came from the <a href="https://www.opendataphilly.org/dataset/police-complaints">City of Philadelphia Open Data Portal</a>. Pre-2015
                    data came from Philly Declaration's <a href="https://github.com/PhillyDeclaration/Philadelphia-Police-Accountability-Project">Police Accountability Project</a>.
                    District median income data was approximated by combining census blocks, using U.S. Census Bureau data.
                </p>


            </div>
            <div class="col-md-1"></div>
{#        </div>#}
    </div>



    <!-- External JS Libraries -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/d3-tip.js"></script>
    <script src="/static/js/d3-geo.min.js"></script>
    <script src="/static/js/d3-geo-projection.v2.min.js"></script>
    <script src="/static/js/topojson.min.js"></script>
    <script src="/static/js/scroller.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/timeline.js"></script>
    <script src="/static/js/sunburst.js"></script>
    <script src="/static/js/flowchart.js"></script>
    <script src="/static/js/map.js"></script>

    <script src="/static/js/main.js"></script>

</body>
</html>





